<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("./include/head.ejs") %>
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/js/index.js" defer></script>
  </head>
  <body>
    <aside class="rotation-chams-contatiner"></aside>
    <main class="main-container">
      <h1><%= title %></h1>
      <label
        >닉네임 태그
        <select id="tag">
          <option value="KR1">한국</option>
        </select>
      </label>
      <label> <input type="text" id="nickname" required /> </label>
      <button onclick="searchHandler()">검색</button>
    </main>
    <aside class="chat-contatiner"></aside>
  </body>
</html>
