<div class="message-container"></div>
<div class="input-container">
  <input
    type="text"
    class="message-input"
    placeholder="채팅 내용을 입력해주세요."
  />
  <button class="send-button" onclick="addChatHandler()">전송</button>
</div>
<script src="../../public/js/chat.js" defer></script>
